@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
    --background: #e4e4e4;
    --primary: #3C5BFA;
    --success: #00BA88;
    --error: #FA3C6A;
    --light-gray: #F0F0F0;
    font-family: 'Montserrat', sans-serif;
}


html {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

img {
    width: 100%;
}