<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        //
    </header>

<div>
    <nav>
        <a href="">To-do</a>
        <a href="">Done</a>
    </nav>
    
    <button>Nový úkol +</button>
</div>

<ul>
    <li>
        <h3>Nakoupit</h3>
        <p>nejpozději do 21.3.2023</p>
        <button>Hotovo</button>
    </li>
    <li>
        <h3>Nakoupit</h3>
        <p>nejpozději do 21.3.2023</p>
        <button>Hotovo</button>
    </li>
    <li>
        <h3>Nakoupit</h3>
        <p>nejpozději do 21.3.2023</p>
        <button>Hotovo</button>
    </li>
</ul>

</body>
</html>