<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        //--- toto je header
    </header>

    
    <form action="" method="post">
            <h1>Příhlášení</h1>

            <input type="email" name="email" placeholder="Email" >
            <input type="password" name="password" placeholder="Heslo">
            
            <button type="submit">Přihlásit se</button>
            <p>Nemáte účet? <a href="./register.html">Vytvořte si ho</a></p>
    </form>
        
</body>
</html>