<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        // toto je header 
    </header>

    <form action="">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Heslo">
        <input type="password" placeholder="Potvrdit heslo">


        <button type="submit">Registrovat</button>

        <p>Jestli již máte účet <a href="./login.html">přihlaste se</a></p>
    </form>

</body>
</html>